<footer class="bg-tlgray-100">
  {{ if not .IsHome }}
  <script src='{{ "/js/clipboard.min.js" | relURL }}'></script>
  <script src='{{ "/js/highlight.min.js" | relURL }}'></script>
  <script src='{{ "/js/highlightjs-line-numbers.min.js" | relURL }}'></script>
  <script src='{{ "/js/sweetalert2.min.js" | relURL }}'></script>
  <script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
    new ClipboardJS(".url");

    function OnClickURL() {
      Swal.fire({
        icon: "success",
        title: "拷贝成功!",
        text: "快去转发给同事和朋友们吧～",
      });
    }
  </script>
  {{ end }}
  <script>
    function toggleNav() {
      var hamburger = document.getElementById("hamburgerbtn");
      var overlay = document.getElementById("overlay");
      var body = document.body;

      hamburger.addEventListener("click", function () {
        overlay.classList.toggle("open");
        hamburger.classList.toggle("is-open");
        body.classList.toggle("scroll-lock");
      });
    }
    toggleNav();

    document.querySelector(".scroll-top").addEventListener("click", () => {
      document.documentElement.scrollTop = 0;
    });
  </script>
  {{ if .Site.Params.googleFonts }}
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap"
    rel="stylesheet"
  />
  {{ else }}
  <link href='{{ "css/webfonts.min.css" | relURL }}' rel="stylesheet" />
  {{ end }}
  <div
    class="flex items-center justify-between flex-wrap bg-gray-800 p-8 text-white"
  >
    <div class="items-center text-xl text-grey-900 mr-6">
      {{ .Site.Params.site.name }}
    </div>
    <div
      class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
      id="mobileMenu"
    >
      <div class="text-lg lg:flex-grow"></div>
      <div class="flex flex-row items-center text-lg">
        {{ range .Site.Menus.footer }}
        <a
          href="{{ .URL }}"
          class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-8"
        >
          {{ if not .Pre }} {{ .Name }} {{ else }} {{ .Pre }} {{ end }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
  <div
    class="copy pl-8 py-5 bg-tlgray-700 text-white text-center justify-between"
  >
    <div class="flex justify-center">
      <a class="icp" target="_blank" href="https://beian.miit.gov.cn/"
        >沪ICP备2023011378号</a
      >
      <a
        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102004544"
        target="_blank"
        title="沪公网安备 31010102004544号"
        class="flex justify-center"
      >
        <img
          src="https://www.shanghai.gov.cn/newshanghai/img/ga.png"
          alt="沪公网安备 31010102004544号"
          style="object-fit: contain"
        />
        沪公网安备 31010102004544号</a
      >
    </div>
    <span> &copy; {{site.Title}} {{ now.Year }} </span>
  </div>
</footer>
